/* 
    GENERAL
*/
body {
  background-color: #0F050E; 
  background-attachment: fixed;
  background: 
    radial-gradient(circle at 0% 0%, rgba(253, 126, 152, 0.15) 0%, transparent 40%), 
    radial-gradient(circle at 100% 100%, rgba(45, 17, 43, 0.5) 0%, transparent 50%),
    radial-gradient(circle at 50% 50%, rgba(15, 5, 14, 1) 0%, #0F050E 100%);

}

body::before {
  content: "";
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  opacity: 0.03; 
  pointer-events: none;
  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
  z-index: 1;
}